@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Quicksand:wght@400;700&display=swap');

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
}

/*--------------------------------------------------------Fonts*/

h1,h2,h3 {
    font-family: "Quicksand", sans-serif;
}

.nav-item {
    font-family: "Quicksand", sans-serif;
}

p {
    font-family: "Open Sans", sans-serif;
}

/*--------------------------------------------------------Navbar*/

.navbar {
    background-color: white;
}

@media screen and (max-width: 560px) {
    .navbar-brand {
    width: 130px;
    }
}

/*--------------------------------------------------------Hero image section*/

.hero-image {
    background-image: linear-gradient(rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.25)), url("../images/hero-image.jpg");
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 500px;
}

.hero-text {
  align-items: center;
  justify-content: center;
  position: relative;
  text-align: center;
  color: white;
  padding-top: 220px;
}

@media screen and (min-width: 768px) {
    .hero-text  {
    padding-top: 250px;
    }
}

/*--------------------------------------------------------Section styles */

.about-style {
    padding: 50px;
}

.skills-style {
    padding: 50px;
    background-color: #F4EEEE;
}

.quiz-section-style {
    padding: 20px;
}

.teams-style {
    padding: 50px;
    background-color: #F4EEEE;
}

.newsletter-style {
    padding: 50px;
}

@media screen and (max-width: 768px) {
    .about-style
    .skills-style 
    .quiz-section-style
    .newsletter-style
    .teams-style {
       padding:30px;
    }
}

@media screen and (max-width: 576px) {
    .about-style
    .skills-style 
    .quiz-section-style
    .teams-style {
       padding:20px;
    }
    .newsletter-style {
        padding: 15px;
    }
}

/*--------------------------------------------------------Heading styles */
h1 {
    font-size: 3rem;
}

h2 {
    font-size: 2.5rem;
}

h3 {
    font-size: 1rem;
}

.about-heading {
    color: #ff4d4d;
    font-weight: bold;
    padding: 15px;
}

.skills-heading {
    color: #17a2b8;
    font-weight: bold;
    padding-bottom: 15px;
}

.quiz-heading {
    color: #ffcc00;
    font-weight: bold; 
    padding-bottom: 15px;
}

.quiz-intro-style {
    padding-bottom: 20px;
}

.teams-heading {
    color: #ff4d4d;
    font-weight: bold;
    padding-bottom: 15px;
}

.newsletter-heading {
    color: #17a2b8;
    font-weight: bold;
    padding: 15px;
}

@media screen and (max-width: 768px) {
    h2 {
        text-align: center;
        font-size: 2rem;
    }
}

/*--------------------------------------------------------About section*/

.dots{
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 5px;
}

.dot1 {
  height: 25px;
  width: 25px;
  background-color: #ff4d4d;
  border-radius: 50%;
  display: inline-block;
}

.dot2 {
  height: 25px;
  width: 25px;
  background-color: #17a2b8;
  border-radius: 50%;
  display: inline-block;
}

.dot3 {
  height: 25px;
  width: 25px;
  background-color: #ffcc00;
  border-radius: 50%;
  display: inline-block;
}

.england-netball-link {
    color: #17a2b8;
}

.england-netball-link:hover {
    color: #ffcc00;
}

/*--------------------------------------------------------Skills section*/

.skills-body {
    padding-top: 10px;
}
.skills-text{
    padding-right: 20px;
    padding-left: 20px;
}

@media screen and (min-width: 768px) {
    .skills-text {
        padding-right: 50px;
        padding-left: 30px;
    }
}

/*-------------------------------------------------------- Quiz */

#quiz {
    margin-left: 10px;
    background: #ffcc00;
    padding-top: 10px; 
    padding-bottom: 20px;
    border-radius: 20px;
    border-style: solid;
    border-width: medium;
    border-color: #ff4d4d;
    display: inline-block;
    text-align: center;
}

.quiz-style{
    width: 90%;
    padding: 10px;
    margin-right: 0px;
    margin-left:0px;
}

.quiz-intro-style {
    padding: 30px;
}

.quizspan {
    margin-bottom: 10px;
}

.question {
    font-family: "Quicksand", sans-serif;
    font-size: 18px;
    font-weight: bold;
}

#after_submit {
    visibility: hidden;
    padding: 20px;
}

#number_correct {
    font-size: 18px;
    font-weight: bold;
    font-family: "Quicksand", sans-serif;
}

@media screen and (min-width: 768px) {
    .quiz-style {
        padding: 40px;
    }
}

/*--------------------------------------------------------Teams section*/

.teams-body {
    padding-top: 10px;
}
.teams-text{
    padding-right: 10px;
    padding-left: 10px;
}

@media screen and (min-width: 768px) {
    .teams-text {
        padding-right: 50px;
        padding-left: 30px;
    }
}

/*-------------------------------------------------------- Newsletter section */

.newsletter-form {
    width: 500px;
    padding: 20px;
}

.newsletter-btn {
    padding: 10px;
}

@media screen and (max-width: 540px) {
    .newsletter-form {
        width: 260px;
        padding-right:30px;
        padding-left:30px;
    }
}

/*-------------------------------------------------------- Map section */

#map {
    height: 400px;
}

/*-------------------------------------------------------- Scroll to top button */

#myBtn {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  font-size: 18px;
  border: none;
  outline: none;
  background-color: darkgrey;
  color: white;
  cursor: pointer;
  padding: 15px;
  border-radius: 4px;
}

#myBtn:hover {
  background-color: #555;
}

/*-------------------------------------------------------- Footer */

#footer {
    background-color: #f8f9fa;
    padding: 10px;
}

.fa-facebook-f {
    color: #ff4d4d;
    font-size: 1.5rem;
    padding: 10px;
}

.fa-instagram {
    color: #17a2b8;
    font-size: 1.5rem;
    padding: 10px;
}

.fa-twitter {
    color: #ffcc00;
    font-size: 1.5rem;
    padding: 10px;
}